html{
  font-family: sans-serif,arial;
  display:flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 80vw;
  min-width: 100px;
  text-align: center;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border: 1px solid;
  margin-top: 2rem;
}
.form-group {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: stretch;
}
.form-username {
  display: flex;
  align-content: stretch;
}